/* wp-block-post-template-inline-css */
.filter-card{
    list-style-type:none !important;
    box-shadow: rgba(0,0,0,.1) 0 20px 25px -5px, rgba(0,0,0,.04) 0 10px 10px -5px;
}
   .wp-block-post-template {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;
        list-style: none;
        padding: 0
    }

    .wp-block-post-template.wp-block-post-template {
        background: none
    }

    .wp-block-post-template.is-flex-container {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        gap: 1.25em
    }

    .wp-block-post-template.is-flex-container li {
        margin: 0;
        width: 100%
    }

    @media (min-width: 600px) {
        .wp-block-post-template.is-flex-container.is-flex-container.columns-2>li {
            width:calc(50% - .625em)
        }

        .wp-block-post-template.is-flex-container.is-flex-container.columns-3>li {
            width: calc(33.33333% - .83333em)
        }

        .wp-block-post-template.is-flex-container.is-flex-container.columns-4>li {
            width: calc(25% - .9375em)
        }

        .wp-block-post-template.is-flex-container.is-flex-container.columns-5>li {
            width: calc(20% - 1em)
        }

        .wp-block-post-template.is-flex-container.is-flex-container.columns-6>li {
            width: calc(16.66667% - 1.04167em)
        }
    }
/* End wp-block-post-template-inline-css */

   .wcag-card-content{
    height:100%;
   }
   
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 200px;
  }

  .tag-input {
    display: none !important;
  }



  .tag-input:checked+.tag {
    background-color: var(--wp--preset--color--background);
    color: #313132;
  }

  /* todo: this should pull from wordpress styling - currently specific to cards */
  .tag{
    background-color: var(--wp--preset--color--background);
    border: 1px solid  var(--wp--preset--color--primary-brand);
    border-radius: 0.5rem;
    font-size: 12px;
    height: 25px;
    padding: 3px 8px 0;
    text-align: center;
    white-space: nowrap;
  }

  /* Custom styles */
  .wcag-card-tags .tag{
    border: none !important;
  }

  .tag{
    cursor: pointer;
  }

  .taxonomy-common_component_category{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 0.33rem;
    justify-content: flex-start;
  }

  .wcag-card-container{
    width: 100%;
  }

  .tag-checkbox label{
    color: var(--wp--preset--color--secondary-brand);
    background-color: #4A81E71A;
    padding-bottom: 4px;
    font-weight: 700;
  }

  .tag-checkbox label:hover,
  .tag-checkbox label:focus-visible{
    background-color: var(--wp--preset--color--primary-brand);
    color: #313132;
    outline: 1px solid #fff;
    outline-offset: -2px;
  }

  .tag-checkbox .tag{
    font-size: 1rem;
  }

  .tag-input:checked+.tag::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOSA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik03LjkyMiAwLjk2ODc1TDMuMjE0NCA1LjY3NjM1TDAuOTA2NzM4IDMuMzY4NjkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41Ii8+PC9zdmc+Cg==);
    display: inline-block;
    position: relative;
    top: -0.3rem;
    left: -0.25rem;
    scale: 1.75;
    width: 1rem;
  }

  .wcag-reset-button{
    font-size: 1rem;
    padding: 11px;
    margin-top: -7px;
    margin-left: 9px;
  }

  .clearFilters{
    text-decoration:underline;
  }

  .clearFilters:hover{
    text-decoration: none;
  }
  