/* This removes "Copy to a new draft" and "Rewrite & Republish" from the sidebar  */
.dp-editor-post-copy-to-draft, .dp-editor-post-rewrite-republish{
    display:none;
}

/* Hide switch to draft button - since there are no draft states. Instead user will "unpublish" which will put it back into QA mode */
.editor-post-switch-to-draft{
    display:none;    
}

/* Replace Update/Publish button text with "Save" */
.editor-post-publish-button__button:not(.qa-regular-text) {
    font-size: 0;
}
  
.editor-post-publish-button__button:not(.qa-regular-text):after {
    content: "Save";
    font-size: 13px;
}


/* Replace "Save Draft" with "Save" */
.editor-post-save-draft {
    font-size: 0;
}
  
.editor-post-save-draft:after {
    content: "Save";
    font-size: 13px;
}

.editor-post-save-draft.is-tertiary{
    background: var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba)) !important;
    color: var(--wp-components-color-accent-inverted,#fff) !important;
    outline: 1px solid transparent !important;
    text-decoration: none !important;
    text-shadow: none !important;
    white-space: nowrap !important;
}

.edit-post-header__settings{
    display: none; /* we rearrange things using js, so hide buttons until we are ready to rearrange so as to not show bad ui */
}
