.tccf-wrapper{
  border: 2px solid rgb(143, 0, 255);
  border-top: 29px solid rgb(143, 0, 255);
  padding: 5px;
  margin-bottom: 10px;
}

.tccf-wrapper:before{
content: "CONDITION";
position: absolute;
top: -25px;
left: 5px;
color: white;
font-weight: bold;
}