.grid-layout {

	.flex-card {
		box-shadow: none;
	}

	.card-container {
		gap: 0 !important;
	}
	
	.wp-block-columns {
		margin-bottom: 1rem;
		@media (min-width: 782px) {
			margin-bottom: 0;
		}
		&.grid-header {
			
			display: none;
			background-color: var(--wp--preset--color--primary-brand);
			border-radius: 0;

			@media (min-width: 782px) {
				display: flex;
				margin-bottom: 1rem;
			}
			.wp-block-group {
				color: var(--wp--preset--color--white);
				height: 100%;
				display: flex;

				& > * {
					color: var(--wp--preset--color--white);
					font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.48rem) * 0.24), 1rem);
				}
			}
		}
		.wp-block-column {
			padding: 0;
			@media (min-width: 782px) {
				padding:0 0 1rem 0;
			}
			
			.wp-block-group {

				box-shadow: none;
				width: 100%;

				.wp-block-heading.mobile-only {
					margin: 0;
				}
				ul, ol {
					padding-left: 1rem;
				}
			}
		}
	}

	.grid-body {
		border: 1px solid var(--wp--preset--color--gray-40);
		gap: 0;

		@media (min-width: 782px) {
			border: 0;
		}
		
		.wp-block-column:not(:first-of-type) {
			border-left: none;

			@media (min-width: 782px) {
				border-left: 1px solid var(--wp--preset--color--gray-40);
			}
		}
	}

}