.arrowed.wp-block-button.is-style-underline .wp-block-button__link {
	display: block;
	
	&::after {
		content: $linkArrow;
		width: 1rem;
		visibility: visible;
		overflow: visible;
		display: inline-block;
		pointer-events: all;
		padding-left: 0.25rem;
		position: relative;
		top: 0.15rem;
	}
}


.taxonomy-category {
	margin-top: 2rem;
	display: flex;
	gap: 0.25rem;
	
	a {
		display: none;
	}
	
	.tag {
		background-color: var(--wp--preset--color--secondary-brand);
		color: white;
		padding: 0 0.5rem 0.15rem;
		border-radius: 0.25rem;
	}
}

