/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable font-weight-notation */

nav ol.has-background,
nav ul.has-background {
	// padding: 0.25rem 0.5rem;
}

body.custom-digitalgov.has-ribbon-menu {

	--bg-highlight: #eaf4ff;

	#main-menu nav {
		display: none;
	}

	@media (min-width: 1360px) {
		#main-menu nav {
			display: block;
		}
	}

	nav {
		&[aria-label="Main menu"] {
			gap: 0;
		}
		>ul {
	
			>li {

				padding: 0.5rem 0.125rem !important;

				> ul,
				> ul ul {
					box-shadow: 0 0.6000000238418579px 1.7999999523162842px 0 #0000001a,0 3.200000047683716px 7.199999809265137px 0 #00000021;
				}
				
				> ul,
				> ul li,
				> ul ul,
				> ul ul li { 
					min-width: 300px; 
					width: 300px; 
					a {
						width: 100%; 
					}
				}
	
				&:focus-within,
				&:hover {
					background-color: var(--bg-highlight);
				}
	
				a[title="private"]::after,
				a[data-reveal="private"]::after {
					background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiICBmaWxsPSIjOWE5YTlhIj48cGF0aCBkPSJNNDAwIDIyNGgtMjR2LTcyQzM3NiA2OC4yIDMwNy44IDAgMjI0IDBTNzIgNjguMiA3MiAxNTJ2NzJINDhjLTI2LjUgMC00OCAyMS41LTQ4IDQ4djE5MmMwIDI2LjUgMjEuNSA0OCA0OCA0OGgzNTJjMjYuNSAwIDQ4LTIxLjUgNDgtNDhWMjcyYzAtMjYuNS0yMS41LTQ4LTQ4LTQ4ek0yNjQgMzkyYzAgMjIuMS0xNy45IDQwLTQwIDQwcy00MC0xNy45LTQwLTQwdi00OGMwLTIyLjEgMTcuOS00MCA0MC00MHM0MCAxNy45IDQwIDQwdjQ4em0zMi0xNjhIMTUydi03MmMwLTM5LjcgMzIuMy03MiA3Mi03MnM3MiAzMi4zIDcyIDcydjcyeiIvPjwvc3ZnPg==);
					background-position: right;
					background-repeat: no-repeat;
					background-size: contain;
					height: 1rem;
					width: 1rem;
					content: "";
					position: relative;
					top: 5px;
					margin-left: 0.5rem;
				}
			}
	
			>.current-menu-item {
				background-color: var(--bg-highlight);
	
				&.has-secondary-accent-background-color {
					background-color: $menuAncestorHighlight !important;
					color: var(--wp--preset--color--white) !important;
				}
			}
		}
	    
		.wp-block-navigation.wp-block-navigation { // highlighting.
	
			li:has(:hover, :focus-within) {
				background-color: var(--bg-highlight);
			}
			
			a.wp-block-navigation-item__content {
				background-color: transparent;

				& a:is(:hover, :focus-visible),
				&:hover,
				&:focus-visible {
					text-decoration: underline !important;
					text-underline-offset: 3px;
  					text-decoration-color: #858585 !important;
				}
				&:focus-visible {
					outline: 1px solid #858585;
					outline-offset: -0.25rem;
				}
			}

			button {
				&:focus-visible {
					color: #000;
					outline: 1px solid #858585;
					outline-offset: 0.25rem;
				}
			}

			&__container {

				>.wp-block-navigation-submenu {

					// &.current-menu-item {
					// 	background-color: var(--bg-highlight);
					// }
				}
			}

			li.current-menu-item {


				>a.wp-block-navigation-item__content {
					background-color: var(--bg-highlight);
					font-weight: bold;
				}

				>a.wp-block-navigation-item__content[href*="#"]  {
					background-color: #fff;
					font-weight: normal;
				}
				
			}

			li:has(li.current-menu-item) {
				background-color: var(--bg-highlight);
			}


			&.has-background {

				.has-child {

					.wp-block-navigation {

						&__submenu-container {

							@media (min-width: $breakpoint-sm) {

								a {

									&:hover,
									&:focus-visible {
										text-decoration: underline;
										filter: contrast(100%);
									}

									@supports selector(:has(*)) {

										&:hover,
										&:focus-visible {
											text-decoration: none;
										}
									}
								}
							}

						}
					}

				}
			}

			&__container {

				.wp-block-navigation {

					&-submenu {

						a {

							&:hover,
							&:focus-visible {
								background-color: transparent;
							}
						}
					}
				}
			}
		}

	}


	.has-modal-open {
		width: calc(100vw - 4rem);

		.wp-block-navigation {

			&__responsive-dialog {
				margin: 3rem auto auto;
			}
		}

		.wp-block-navigation__container {
			gap: 0.5rem !important;

			>.wp-block-navigation-item {

				a {
					padding: 1rem;

					&:focus-visible,
					&:hover {
						background-color: $white;
					}
				}

				@media (min-width: 860px) {

					&:focus-visible,
					&:hover {
						background-color: hsla(0, 0%, 7%, 0.1);
					}
				}
			}
		}
	}


	@media (max-width: 860px) {

		// .is-style-ribbon-menu {
		// 	height: 0;

		// 	#main-menu {
		// 		display: flex;
		// 		top: -3.75rem;
		// 		position: relative;
		// 		justify-content: flex-end;
		// 		width: calc(100% - 2rem);
		// 	}

		// 	.has-modal-open .wp-block-navigation__container>.wp-block-navigation-item {
		// 		flex: 1;
		// 		margin: 0;
		// 		min-height: 1rem;
		// 		min-width: calc(100% - 6rem);
		// 		width: 100%;
		// 	}

		// 	nav.wp-block-navigation {
		// 		width: auto;
		// 	}
		// }

		.wp-block-navigation__responsive-container-close {
			top: -3.5rem;
		}
	}


	.wp-block-navigation {

		justify-content: flex-end !important;
		padding: 0.75rem !important;
		width: 100%;

		&.footer-nav {
			justify-content: space-between !important;
			padding: 0.15rem 0 0 !important;
		}

		@media (min-width: 860px) {
			padding: 0 !important;
		}

		&__responsive-container {
			display: none !important;

			@media (min-width: 860px) {
				display: block !important;
			}
		}

		&__responsive-container.is-menu-open {
			display: block !important;
		}

		&__submenu-icon {
			background-color: transparent;
		}

	}
}

.breadcrumbs-container {

	.breadcrumb-placeholder {
		min-height: 2.73rem;
		height: 100%;
	}

	.aioseo-breadcrumb:last-of-type {
		font-weight: 700;
	}
}

body.home {

	.breadcrumb-navigation-container {
		display: none;
	}

	#post-content>div:first-of-type {
		border-top-width: 0 !important;
	}
}