#search-container .wp-block-search__button {
	background-color: var(--wp--preset--color--primary-brand);
}



.wp-block-buttons.toggle-search-container>.wp-block-button {

	position: relative;
	top: -0.5rem;

	@media (min-width: $breakpoint-lg) {
		top: 0;
	}

	a.wp-block-button__link {
		display: flex;
		padding: 1rem 0;
		min-width: 90px;
		justify-content: center;
		align-items: center;
		color: var(--wp--preset--color--black) !important;

		&::after {
			content: $searchIcon;
			display: block;
			padding: 0rem;
			margin: 0;
			margin-left: 0px;
			width: 0.85rem;
			height: 0.85rem;
			position: relative;
			top: -4px;
			margin-left: 2px;
		}

		&:hover,
		&:focus,
		&:focus-visible {
			background-color: #EAF4FF !important;
			border-radius: 0;
			filter: contrast(100%);
			outline: 0;
		}
	}
}

// Search box and suggestions

header:has(#search-container) {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	position: relative;
	z-index: 9;
}

#search-container {
	max-width: var(--wp--style--global--wide-size);
	margin: auto;
	padding-inline: 0.5rem;
	position: relative;
	width: 100%;

	#search-group {
		background-color: #fff;
		box-shadow: var(--box-shadow);
		display: inline-block;
		padding-inline: .5rem;
		padding-block: .5rem;
		border-radius: 0 0 .25rem .25rem;
		max-width: 600px;
		margin-right: 2rem;
		margin-left: auto;
		width: calc(100% - 4rem);
		position: absolute;
		top: 0;
		right: 0;
	}
}

.wp-block-search {
	max-width: 100%;

	.wp-block-search__input {
		background-color: #F4F4F4;
		border-radius: 0.25rem 0 0 0.25rem;
		border: 0;
		padding-inline: 0.75rem;

		&:focus-visible {
			outline: 1px solid var(--wp--preset--color--gray-40);
			outline-offset: -1px;
		}
	}
}

.wp-block-search__button {
	border-radius: 0 0.25rem 0.25rem 0;
	padding-block: .375rem;
	padding-inline: .625rem;
	margin: 0;
	font-size: 0.85rem;
}

body:has(.searchwp-live-search-results :focus) {
	overflow: hidden;
}


.live-search-container {
	color: var(--wp--preset--color--foreground);
	margin: 0 !important;
	padding-inline: 0.25rem;

	.searchwp-live-search-no-min-chars {
		.spinner{
			display: none;
		}
	}
	
	.spinner {
		scale: 0.5;
		animation: spin 0.3s linear infinite;
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}

	#results-found {
		font-size: 0.75rem;
		text-align: center;
		padding-block: 0.25rem;
		margin: 0;
		border-bottom: thin solid var(--wp--preset--color--gray-40);
	}

	.searchwp-live-search-results {
		width: 100% !important;

		a:hover,
		a:focus-visible {
			background-color: #EFF4FB !important;
			color: var(--wp--preset--color--primary-brand);
		}

		&[aria-expanded="true"] {
			pointer-events: all;
		}

		&[aria-expanded="false"] {
			pointer-events: none;
		}


	}

	.searchwp-live-search-no-results {
		text-align: center;
		font-size: 0.85rem;
		margin-top: 1.25rem;
		margin-bottom: 0.5rem;
		padding-bottom: 0.5rem;
		padding-inline: 1rem;
	}

	a {
		border-bottom: 1px solid var(--wp--preset--color--gray-40);
		color: var(--wp--preset--color--foreground);
		display: block;
		text-decoration: none;
		padding-block: 0.66rem;
		padding-inline: 0.5rem;

		p.live-search-title {
			mark {
				font-weight: 700;
			}
		}

		&[title="private"] p.live-search-title {

			&::after {
				background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiICBmaWxsPSIjOWE5YTlhIj48cGF0aCBkPSJNNDAwIDIyNGgtMjR2LTcyQzM3NiA2OC4yIDMwNy44IDAgMjI0IDBTNzIgNjguMiA3MiAxNTJ2NzJINDhjLTI2LjUgMC00OCAyMS41LTQ4IDQ4djE5MmMwIDI2LjUgMjEuNSA0OCA0OCA0OGgzNTJjMjYuNSAwIDQ4LTIxLjUgNDgtNDhWMjcyYzAtMjYuNS0yMS41LTQ4LTQ4LTQ4ek0yNjQgMzkyYzAgMjIuMS0xNy45IDQwLTQwIDQwcy00MC0xNy45LTQwLTQwdi00OGMwLTIyLjEgMTcuOS00MCA0MC00MHM0MCAxNy45IDQwIDQwdjQ4em0zMi0xNjhIMTUydi03MmMwLTM5LjcgMzIuMy03MiA3Mi03MnM3MiAzMi4zIDcyIDcydjcyeiIvPjwvc3ZnPg==);
				background-position: right;
				background-repeat: no-repeat;
				background-size: contain;
				height: 1rem;
				width: 1rem;
				content: "";
				position: relative;
				top: 2px;
				margin-left: 2px;
				display: inline-block;
			}
		}
	}

	p {
		margin: 0;
		padding: 0;
		font-size: 0.85rem;
	}

	.live-search-excerpt {
		font-size: 0.85rem;
		margin-top: 0;
		padding-block: 0;

		mark {
			background-color: transparent;
			text-decoration: underline;
			text-underline-offset: 3px;
			text-decoration-line: 2px;
		}
	}

	.results-info {
		font-size: 0.85rem;
		margin-top: 0;
		padding-block: 0.5rem;
		padding-inline: 0.5rem;
	}

	.searchwp-form-quick-search {
		background-color: #efefef;
		border-radius: 0.25rem;
		padding-inline: 1rem;
		padding-block: 0.5rem;
		font-size: 0.85rem;

		.popular-searches-header {
			display: inline-block;
			font-size: 0.85rem;
			padding: 0.25rem;
			margin: 0;
		}

		a {
			text-decoration: underline;
			text-underline-offset: 3px;
			border-bottom: 0;
			color: var(--wp--preset--color--primary-brand);
			display: inline-block;
			padding: 0.25rem;
		}
	}
}

// Search results page

body.search-results {

	a.swp-result-item-link {
		box-sizing: border-box;
		position: relative;
		width: 100%;
		text-decoration: none;
		outline: none;

		.swp-result-item {
			border-bottom: none;

			&:hover {
				border-top: 1px solid var(--wp--preset--color--primary-brand);
				border-bottom: 1px solid var(--wp--preset--color--primary-brand);

				.swp-result-item--desc {
					border-bottom: none;
				}
			}

			padding-top: 1rem;
			padding-bottom: 0;
			padding-inline: 1rem;
			margin-bottom: 0;

			&:hover,
			&:focus,
			&:focus-visible {
				background-color: #4a81e71a !important;
				border-radius: 0;
				filter: contrast(100%);
				outline: 1px;
				padding-top: calc(1rem + 0.5px);
				margin-bottom: -1px;

				.entry-title {
					color: var(--wp--preset--color--primary-brand);

					mark {
						font-weight: 700;
						text-decoration: underline;
					}
				}
			}

		}

		&:focus-visible {
			.swp-result-item {
				background-color: #4a81e71a !important;
				border-inline: 1px solid var(--wp--preset--color--primary-brand);
				border-top: 1px solid var(--wp--preset--color--primary-brand);
				border-bottom: 1px solid var(--wp--preset--color--primary-brand);
				border-radius: 0.25rem;
				padding-inline: calc(1rem - 1px);

				.swp-result-item--desc {
					border-bottom: none;
				}
			}
		}

		&:has(.swp-result-item:hover),
		&:focus-visible:has(.swp-result-item) {
			top: -1px;
		}
	}

	.swp-result-item--info-container {
		gap: 0.15rem;
	}

	.entry-title {
		font-size: 1.05rem;
		margin: 0;
		font-weight: 400;

		mark {
			font-weight: 700 !important;
		}
	}

	.swp-result-item--desc {
		border-bottom: 1px solid var(--wp--preset--color--primary-brand);
		padding-bottom: 1rem;
		min-height: 0;

		>* {
			line-height: 1.5;

		}

		.searchwp-highlight.searchwp-highlight {
			background-color: transparent;
			text-decoration: underline;
			text-underline-offset: 3px;
			text-decoration-line: 2px;
		}
	}

	.wp-block-post-excerpt__more-text {
		display: none;

	}

	a[title="private"] .entry-title::after {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiICBmaWxsPSIjOWE5YTlhIj48cGF0aCBkPSJNNDAwIDIyNGgtMjR2LTcyQzM3NiA2OC4yIDMwNy44IDAgMjI0IDBTNzIgNjguMiA3MiAxNTJ2NzJINDhjLTI2LjUgMC00OCAyMS41LTQ4IDQ4djE5MmMwIDI2LjUgMjEuNSA0OCA0OCA0OGgzNTJjMjYuNSAwIDQ4LTIxLjUgNDgtNDhWMjcyYzAtMjYuNS0yMS41LTQ4LTQ4LTQ4ek0yNjQgMzkyYzAgMjIuMS0xNy45IDQwLTQwIDQwcy00MC0xNy45LTQwLTQwdi00OGMwLTIyLjEgMTcuOS00MCA0MC00MHM0MCAxNy45IDQwIDQwdjQ4em0zMi0xNjhIMTUydi03MmMwLTM5LjcgMzIuMy03MiA3Mi03MnM3MiAzMi4zIDcyIDcydjcyeiIvPjwvc3ZnPg==);
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
		height: 1rem;
		width: 1rem;
		content: "";
		position: relative;
		display: inline-block;
	}

	.navigation {
		display: flex;
		justify-content: center;

		.nav-links {
			display: flex;
			gap: 0.5rem;

			.page-numbers {
				display: inline-flex;
				font-size: var(--wp--preset--font-size--small);
				font-weight: 700;
				margin: 0;
				padding-inline: 0.25rem;
				min-width: 2ch;
				justify-content: center;
				align-items: center;

				&.prev,
				&.next {
					background-color: #4a81e71a;
					color: var(--wp--preset--color--primary-brand);
					font-size: 0;
					padding-inline: 0.85rem;

					&::after {
						display: inline;
						font-size: 0.85rem;
					}

					&:hover,
					&:focus-visible {
						background-color: var(--wp--preset--color--primary-brand);
						color: var(--wp--preset--color--white);
					}
				}

				&.prev {
					&::after {
						content: "Previous";
					}
				}

				&.next {
					&::after {
						content: "Next";
					}
				}
			}

			a {
				text-decoration: none;
				color: var(--wp--preset--color--primary-brand);
				background-color: #4a81e71a;
				font-weight: 400;

				&.page-numbers {
					border: 1px solid currentcolor;
					border-radius: .33rem;
					padding-inline: .5rem;
					padding-block: .25rem;
				}

				&:hover,
				&:focus-visible {
					background-color: var(--wp--preset--color--primary-brand);
					color: var(--wp--preset--color--white);
				}
			}
		}
	}
}

mark {
	background-color: var(--wp--preset--color--transparent);
	color: var(--wp--preset--color--primary-brand);
	font-size: inherit;
}