#search-container .wp-block-search__button {
	background-color: var(--wp--preset--color--primary-brand);
}



.wp-block-buttons.toggle-search-container>.wp-block-button {

	position: relative;
	top: -0.5rem;

	@media (min-width: $breakpoint-lg) {
		top: 0;
	}

	a.wp-block-button__link {
		border-radius: 0;
		color: var(--wp--preset--color--black) !important;
		display: flex;
		padding: 1rem 1rem 1rem 0.5rem;
		min-width: 110px;
		justify-content: center;
		align-items: center;

		&::before {
			content: "";
			background-image: $searchIcon;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			padding: 0rem;
			width: 1.3rem;
			height: 1.66rem;
			position: relative;
			top: 2px;
			margin: 0 4px 0 0;
		}

		&:hover {
			background-color: #EAF4FF !important;
			border-radius: 0;
			filter: contrast(100%);
			outline: 0;
		}
		&:focus-visible {
			background-color: #EAF4FF !important;
			filter: contrast(100%);
			outline: 2px solid var(--wp--preset--color--primary-brand);
			outline-offset: -2px;
		}

		&.disabled {
			pointer-events: none;
			opacity: 1;
			background-color: var(--wp--preset--color--primary-brand) !important;
			border-radius: 0 !important;
			color: var(--wp--preset--color--white) !important;

			&::before {
				content: $searchIconInverted;
			}
		}

		&.close {

			background-color: #1212120d !important;
			font-size: 0;
			padding: 1rem 0.5rem 1rem 1rem;

			&::before {
				content: "";
				background-image: $searchClose;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				width: 1rem;
				height: 1rem;
				top: 2px;
				left: 5px;
				width: 20px;
			}

			&::after {
				content: "Close";
				font-size: 1rem;
				top: 0px;
				right: 3px;
				width: 100%;
				position: relative;
			}
		}
	}
}

body:has(.toggle-search-container>.wp-block-button a.wp-block-button__link.close) {

	.wp-block-navigation__submenu-container {
		display: none !important;
	}
}

// Search box and suggestions
.spinner {
	content: " " !important;
	border: none !important;
	background-image: $searchSpinner;
	background-repeat: no-repeat !important;
	height: 100px !important;
	display: block !important;
	transform: none !important;
	top: -26px !important;
	right: 0 !important;
	left: 0 !important;
	position: absolute !important;
	background-position: center !important;
	width: 100px !important;
	margin-inline: auto;

	> * {
		opacity: 0;
	}
}
header:has(#search-container) {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	position: relative;
}

#search-container {
	padding-inline: 0.5rem;
	width: 100%;
	box-shadow: var(--box-shadow);
	max-width: 100%;
	margin: auto;
	position: absolute;
	width: 100%;
	min-height: 500px;
	z-index: 9;

	#search-group {
		background-color: transparent;
		box-shadow: none;
		display: inline-block;
		padding-inline: 0;
		padding-block: 0;
		border-radius: 0;
		max-width: 100%;
		margin-right: 0;
		margin-left: auto;
		width: 100%;
		position: relative;
	}
}

.wp-block-search {
	max-width: 100%;

	.wp-block-search__input {
		-webkit-appearance: initial;
		appearance: none;
		border: 1px solid #949494;
		flex-grow: 1;
		font-size: 1.35rem;
		margin-left: 0;
		margin-right: 0;
		min-width: 3rem;
		padding: 8px;
		text-decoration: unset !important;
		background-color: #f4f4f4;
		border-radius: .25rem 0 0 .25rem;
		border: 0;
		padding: .75rem;
		width: 100%;
		border-radius: .25rem 0 0 .25rem;
		padding: .75rem;

		&:focus-visible {
			outline: 1px solid var(--wp--preset--color--gray-40);
			outline-offset: -1px;
		}
	}
}

.wp-block-search__button {
	border-radius: 0 0.25rem 0.25rem 0;
	padding-block: 0.66rem;
	padding-inline: 1.75rem;
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.25px;

	&:focus-visible {
		outline: 1px solid var(--wp--preset--color--primary-brand);
		outline-offset: 2px;
	}
}

body:has(.searchwp-live-search-results :focus) {
	overflow: hidden;
}

body:has(.searchwp-live-search-results[aria-expanded="true"]) .live-search-extra {
	display: none;
}

.live-search-extra {

	h2 {
		margin-block: 0.5rem;
	}

	.popular-content {
		border: 1px solid var(--wp--preset--color--primary-brand);
		border-radius: 3px;
		margin-bottom: 0.5rem;
		padding: 1rem;
		background-color: #eff4fb !important;
		color: var(--wp--preset--color--primary-brand);

		h3 {
			color: var(--wp--preset--color--primary-brand);
			font-size: 1.15rem;
			margin-block: 0;
		}

		p {
			margin-block: 0;
			font-size: 1rem;
		}
	}

	a {
		text-decoration: none !important;

		&:is(:hover, :focus-visible) .popular-content {
			background-color: #C9DFF7 !important;

			h3,
			p {
				color: var(--wp--preset--color--foreground);
			}
		}
	}
}

.live-search-container {
	color: var(--wp--preset--color--foreground);
	margin: 0 !important;
	padding-inline: 0.25rem;

	.searchwp-live-search-no-min-chars {
		.spinner {
			display: none;
		}
	}

	.spinner {
		scale: 0.5;
		animation: spin 0.3s linear infinite;
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}

	#results-found {
		font-size: .85rem;
		text-align: left;
		padding: .25rem .5rem .5rem;
		margin-block: 0.5rem 0;
		border-bottom: thin solid var(--wp--preset--color--gray-40);
	}

	.searchwp-live-search-results {
		width: 100% !important;

		a:hover,
		a:focus-visible {
			background-color: #EFF4FB !important;
			color: var(--wp--preset--color--primary-brand);
		}

		&[aria-expanded="true"] {
			pointer-events: all;
		}

		&[aria-expanded="false"] {
			pointer-events: none;
		}


	}

	a {
		border-bottom: 1px solid var(--wp--preset--color--gray-40);
		color: var(--wp--preset--color--foreground);
		display: block;
		text-decoration: none;
		padding-block: 0.66rem;
		padding-inline: 0.5rem;

		p.live-search-title {
			font-size: 1.15rem;

			mark {
				font-weight: 700;
			}
		}

		&[title="private"] p.live-search-title,
		&[data-reveal="private"] p.live-search-title {

			&::after {
				background-image: $searchResultsLockIcon;
				background-position: right;
				background-repeat: no-repeat;
				background-size: contain;
				height: 1rem;
				width: 1rem;
				content: "";
				position: relative;
				top: 2px;
				margin-left: 2px;
				display: inline-block;
			}
		}
	}

	p {
		margin: 0;
		padding: 0;
		font-size: 1rem;
	}

	.live-search-excerpt {
		font-size: 1rem;
		margin-top: 0;
		padding-block: 0;

		mark {
			background-color: transparent;
			text-decoration: underline;
			text-underline-offset: 3px;
			text-decoration-line: 2px;
		}
	}

	.results-info {
		font-size: 0.85rem;
		font-weight: 700;
		margin-top: 0;

		a {
			color: var(--wp--preset--color--primary-brand) !important;
		}
	}

}

.searchwp-live-search-no-results {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
	font-size: 0.85rem;
	margin-top: 1.25rem;
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	padding-inline: 1rem;

	&::before {
		content: $searchResultsCloudIcon;
		width: 160px;
		height: 160px;
		display: block;
		justify-content: center;
		margin-block: 0;
		margin-inline: 0 2rem;
	}
}

.searchwp-form-quick-search {
	background-color: #efefef;
	border-radius: 0.25rem;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	font-size: 1rem;

	.popular-searches-header {
		display: inline-block;
		font-size: 1rem;
		padding: 0.25rem;
		margin: 0;
	}

	a {
		text-decoration: underline !important;
		text-underline-offset: 3px;
		border-bottom: 0;
		color: var(--wp--preset--color--primary-brand);
		display: inline-block;
		padding: 0.25rem;

		&:is(:hover, :focus-visible) {
			color: var(--wp--preset--color--secondary-brand);
		}
	}
}

// get_search_form() field styling
.search-form {
	display: flex;
	flex: auto;
	flex-wrap: nowrap;
	max-width: 100%;

	label {
		flex: 1;
	}

	.search-field {
		-webkit-appearance: initial;
		appearance: none;
		border: 1px solid #949494;
		flex-grow: 1;
		font-size: 1.35rem;
		margin-left: 0;
		margin-right: 0;
		min-width: 3rem;
		padding: 8px;
		text-decoration: unset !important;
		background-color: #f4f4f4;
		border-radius: .25rem 0 0 .25rem;
		border: 0;
		padding: .75rem;
		width: 100%;
		
		&:focus-visible {
			outline: 1px solid var(--wp--preset--color--gray-40);
			outline-offset: -1px;
		}
	}

	.search-submit {
		background-color: var(--wp--preset--color--primary-brand);
		border-radius: 0 .25rem .25rem 0;
		padding-block: .66rem;
		padding-inline: 1.75rem;
		margin: 0;
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: .25px;
		border-width: 0;
		color: #fff;
		cursor: pointer;

		&:hover,
		&:focus-visible {
			outline: 1px solid var(--wp--preset--color--primary-brand);
			outline-offset: 2px;
		}
	}
}

// Search results page

body.search {

	.toggle-search-btn a {
		pointer-events: none;
	}
}

body.search-no-results {


	h1 {
		font-weight: 400;
	}
	
	.search-no-results-message {

		margin-block: 3rem;

		p,
		ul {
			margin-block: 0.25rem !important;
		}
	}

	.searchresults-hidden{
		display: none;
	}
}

body.search-results {

	h1 {
		font-weight: 400;
	}

	.results-count {
		font-size: 0.85rem;
		padding-inline: 0.25rem;
	}

	a.swp-result-item-link {
		box-sizing: border-box;
		position: relative;
		width: 100%;
		text-decoration: none;
		outline: none;

		.swp-result-item {
			border-bottom: none;

			&:hover {
				border-top: 1px solid var(--wp--preset--color--black);
				border-bottom: 1px solid var(--wp--preset--color--black);

				.swp-result-item--desc {
					border-bottom: none;
				}
			}

			padding-top: 1rem;
			padding-bottom: 0;
			padding-inline: 1rem;
			margin-bottom: 0;

			&:hover,
			&:focus,
			&:focus-visible {
				background-color: #4a81e71a !important;
				border-radius: 0;
				filter: contrast(100%);
				outline: 1px;
				padding-top: calc(1rem + 0.33px);
				margin-bottom: -1px;

				.entry-title {
					color: var(--wp--preset--color--primary-brand);

					mark {
						font-weight: 700;
						text-decoration: underline;
					}
				}
			}

			.decorator {
				color: var(--wp--preset--color--gray-80);
				font-size: 1rem;
				order: -1;
			}

		}

		&:focus-visible {
			.swp-result-item {
				background-color: #4a81e71a !important;
				border-inline: 1px solid var(--wp--preset--color--black);
				border-top: 1px solid var(--wp--preset--color--black);
				border-bottom: 1px solid var(--wp--preset--color--black);
				border-radius: 0.25rem;
				padding-inline: calc(1rem - 1px);

				.swp-result-item--desc {
					border-bottom: none;
				}
			}
		}

		&:has(.swp-result-item:hover),
		&:focus-visible:has(.swp-result-item) {
			top: -1px;
		}

		&:first-of-type {
			.swp-result-item:is(:hover, :focus-visible) {
				padding-top: calc(1rem + 1px);
			}
		}
	}

	.swp-result-item--info-container {
		gap: 0.15rem;
		display: flex;
		flex-direction: column;
	}

	.entry-title {
		font-size: 1.25rem;
		margin-block: 0.25rem;
		font-weight: 400;

		mark {
			font-weight: 700 !important;
		}
	}

	.swp-result-item-link:first-of-type .swp-result-item {
		border-top: 1px solid var(--wp--preset--color--black);
	}

	.swp-result-item--desc {
		border-bottom: 1px solid var(--wp--preset--color--black);
		font-size: 1rem;
		margin-block: 0;
		min-height: 0;
		padding-bottom: 1.35rem;

		>* {
			line-height: 1.5;

		}

		.searchwp-highlight.searchwp-highlight {
			background-color: transparent;
			text-decoration: underline;
			font-weight: 700;
		}
	}

	.wp-block-post-excerpt__more-text {
		display: none;

	}

	a[title="private"] .entry-title::after,
	a[data-reveal="private"] .entry-title::after {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiICBmaWxsPSIjOWE5YTlhIj48cGF0aCBkPSJNNDAwIDIyNGgtMjR2LTcyQzM3NiA2OC4yIDMwNy44IDAgMjI0IDBTNzIgNjguMiA3MiAxNTJ2NzJINDhjLTI2LjUgMC00OCAyMS41LTQ4IDQ4djE5MmMwIDI2LjUgMjEuNSA0OCA0OCA0OGgzNTJjMjYuNSAwIDQ4LTIxLjUgNDgtNDhWMjcyYzAtMjYuNS0yMS41LTQ4LTQ4LTQ4ek0yNjQgMzkyYzAgMjIuMS0xNy45IDQwLTQwIDQwcy00MC0xNy45LTQwLTQwdi00OGMwLTIyLjEgMTcuOS00MCA0MC00MHM0MCAxNy45IDQwIDQwdjQ4em0zMi0xNjhIMTUydi03MmMwLTM5LjcgMzIuMy03MiA3Mi03MnM3MiAzMi4zIDcyIDcydjcyeiIvPjwvc3ZnPg==);
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
		height: 1rem;
		width: 1rem;
		content: "";
		position: relative;
		display: inline-block;
	}

	.navigation {
		display: flex;
		justify-content: left;
		margin-block: 2rem;

		.nav-links {
			display: flex;
			gap: 0.5rem;

			.page-numbers {
				display: inline-flex;
				font-size: var(--wp--preset--font-size--small);
				font-weight: 700;
				margin: 0;
				padding-inline: 0.25rem;
				min-width: 2ch;
				justify-content: center;
				align-items: center;

				&.prev,
				&.next {
					background-color: #4a81e71a;
					color: var(--wp--preset--color--primary-brand);
					font-size: 0;
					padding-inline: 0.85rem;

					&::after {
						display: inline;
						font-size: 0.85rem;
					}

					&:hover,
					&:focus-visible {
						background-color: var(--wp--preset--color--primary-brand);
						color: var(--wp--preset--color--white);
					}
				}

				&.prev {
					&::after {
						content: "Previous";
					}
				}

				&.next {
					&::after {
						content: "Next";
					}
				}
			}

			a {
				text-decoration: none;
				color: var(--wp--preset--color--primary-brand);
				background-color: #4a81e71a;
				font-weight: 400;

				&.page-numbers {
					border: 1px solid currentcolor;
					border-radius: .33rem;
					padding-inline: .5rem;
					padding-block: .25rem;
				}

				&:hover,
				&:focus-visible {
					background-color: var(--wp--preset--color--primary-brand);
					color: var(--wp--preset--color--white);
				}
			}
		}
	}
}

mark {
	background-color: var(--wp--preset--color--transparent);
	color: var(--wp--preset--color--primary-brand);
	font-size: inherit;
}